:root {
  --shadow: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.22);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  height: 100vh;
  width: 100vw;
  display: grid;
  place-items: center;
  counter-reset: score;
}

.phone {
  position: relative;
  border: 8px solid black;
  border-radius: 40px;
  overflow: hidden;
  height: 600px;
  width: 300px;
  background: #ccefff;
  box-shadow: var(--shadow);
}

.title {
  display: flex;
  justify-content: center;
  margin: 45px 0 10px;
}

.score {
  font-family: Arial, sans-serif;
  font-size: 16px;
  margin: 0;
  text-align: center;
  color: #8b4002;
}

.layer-1 {
  position: absolute;
  z-index: 1;
  height: 450px;
  width: 80px;
  bottom: 0;
  right: 60px;
  animation-name: layer;
  animation-duration: 1s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
}

.layer-1 input[type="checkbox"] {
  /* After 4 */
  animation-name: bunny;
  animation-duration: 1s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
}

@keyframes bunny {
  0% {
    top: 0;
  }
  25% {
    top: 80px;
  }
  100% {
    top: 0;
  }
}

@keyframes layer {
  0% {
    bottom: 0;
  }

  25% {
    bottom: -80px;
  }

  100% {
    bottom: 0;
  }
}

input[type="checkbox"] {
  appearance: none;
  cursor: pointer;
  height: 50px;
  margin: 0;
  position: relative;
  top: 0;
  width: 80px;
  z-index: 2;
}

input[type="checkbox"]:focus {
  appearance: none;
  outline: none;
}

input:checked {
  counter-increment: score;
}

.score::after {
  content: counter(score);
}

.layer-2 {
  position: absolute;
  z-index: 2;
  height: 450px;
  width: 80px;
  bottom: 0;
  left: 60px;
}

.layer-3 {
  position: absolute;
  z-index: 3;
  left: 0;
  right: 0;
  margin: 0 auto;
  width: 220px;
  height: 400px;
  bottom: 0;
  border-radius: 20px;
}

.layer-4 {
  position: absolute;
  z-index: 4;
  height: 340px;
  width: 80px;
  bottom: 0;
  left: 20px;
}

.layer-5 {
  position: absolute;
  z-index: 5;
  left: 0;
  width: 200px;
  height: 290px;
  bottom: 0;
  border-radius: 20px;
}

.layer-6 {
  position: absolute;
  z-index: 6;
  height: 230px;
  width: 80px;
  bottom: 0;
  right: 20px;
}

.layer-7 {
  position: absolute;
  z-index: 7;
  right: 0;
  width: 130px;
  height: 180px;
  bottom: 0;
  border-radius: 20px;
}

.layer-8 {
  position: absolute;
  z-index: 8;
  left: 0;
  right: 0;
  margin: 0 auto;
  width: 170px;
  height: 90px;
  bottom: 0;
  border-radius: 40%;
}

.layer-8__left-lawn {
  background: greenyellow;
  border-radius: 40px 40px 0 0;
  bottom: 0;
  display: inline-block;
  height: 70%;
  left: 0;
  position: absolute;
  width: 80px;
}

.layer-8__center-lawn {
  background: greenyellow;
  border-radius: 40px 40px 0 0;
  bottom: 0;
  display: inline-block;
  height: 100%;
  left: 60px;
  position: absolute;
  width: 80px;
}

.layer-8__right-lawn {
  background: greenyellow;
  border-radius: 40px 40px 0 0;
  bottom: 0;
  display: inline-block;
  height: 80%;
  left: 130px;
  position: absolute;
  width: 80px;
}

.layer-9 {
  position: absolute;
  z-index: 9;
  left: 0;
  width: 100px;
  height: 100px;
  border-top-right-radius: 20px;
  bottom: 0;
}

.layer-9__left-cloud {
  background: whitesmoke;
  border-radius: 40px 40px 0 0;
  display: inline-block;
  height: 100%;
  left: 0;
  position: absolute;
  width: 80px;
}

.layer-9__right-cloud {
  background: whitesmoke;
  border-radius: 0 40px 30px 0;
  bottom: 0;
  display: inline-block;
  height: 60%;
  left: 80px;
  position: absolute;
  width: 40px;
}

.layer-10 {
  position: absolute;
  z-index: 10;
  right: 0;
  width: 100px;
  height: 100px;
  bottom: 0;
  border-top-left-radius: 20px;
}

.layer-10__left-cloud {
  background: whitesmoke;
  border-radius: 40px 0 0 30px;
  bottom: 0;
  display: inline-block;
  height: 60%;
  right: 80px;
  position: absolute;
  width: 40px;
}

.layer-10__right-cloud {
  background: whitesmoke;
  border-radius: 40px 40px 0 0;
  display: inline-block;
  height: 100%;
  right: 0px;
  position: absolute;
  width: 80px;
}

.wall {
  background: #8b4002;
  border-radius: 23px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3), 0 5px 15px rgba(0, 0, 0, 0.3);
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;
}

.wall-surface {
  background-color: greenyellow;
  width: 100%;
  height: 25px;
  position: absolute;
  border-top-left-radius: inherit;
  border-top-right-radius: inherit;
}

.zigzag {
  position: absolute;
  height: 30px;
  width: 100%;
  background: linear-gradient(135deg, greenyellow 25%, transparent 25%) -50px 0,
    linear-gradient(-135deg, greenyellow 25%, transparent 25%) -50px 0,
    linear-gradient(45deg, greenyellow 25%, transparent 25%),
    linear-gradient(-45deg, greenyellow 25%, transparent 25%);
  background-size: 70px 70px;
  background-repeat: repeat;
  top: 20px;
}

.left-ear--outer {
  background: white;
  border-radius: 90%;
  width: 20px;
  height: 50px;
  position: absolute;
  left: 10px;
}

.left-ear--inner {
  background: pink;
  border-radius: 90%;
  width: 10px;
  height: 40px;
  position: absolute;
  left: 15px;
  top: 8px;
}

.right-ear--outer {
  background: white;
  border-radius: 90%;
  width: 20px;
  height: 50px;
  position: absolute;
  right: 10px;
}

.right-ear--inner {
  background: pink;
  border-radius: 90%;
  width: 10px;
  height: 40px;
  position: absolute;
  right: 15px;
  top: 8px;
}

.head {
  background: white;
  border-radius: 50%;
  height: 80px;
  left: 0;
  right: 0;
  margin: 0 auto;
  position: absolute;
  top: 30px;
  width: 100%;
}

.head__eye {
  background: black;
  border-radius: 50%;
  width: 6px;
  height: 6px;
  position: absolute;
  top: 15px;
  animation-name: blink;
  animation-duration: 2s;
  animation-iteration-count: infinite;
}

@keyframes blink {
  0% {
    height: 6px;
  }

  5% {
    transform: translate(0px, 2px);
    height: 1px;
  }

  10% {
    transform: translate(0px, 0px);
    height: 6px;
  }
}

.head__eye_left {
  left: 30px;
}

.head__eye_right {
  right: 30px;
}
